* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgba(0, 0, 0, 0.911);
  color: whitesmoke;
}

/* Hero */
.Hero {
  background-color: black;
  background-image: url("./assets/Images/HeroBG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 480px;
  padding: 6px 10px;
  margin-bottom: -12px;
  filter: blur(100% rgba(0, 0, 0, 0.811));
  margin-bottom: 10px;
}

/* navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 130px;
}
.rightnav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  gap: 10px;
}
.optionBtn {
  background-color: rgba(0, 0, 0, 0.895);
  color: whitesmoke;
  border: 2px solid whitesmoke;
}
.optionBtn select {
  width: 90px;
  height: 35px;
  border: none;
  text-align: center;
  padding: 8px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.644);
  color: whitesmoke;
}
.signIn {
  width: 90px;
  height: 35px;
  background: red;
  font-size: 12px;
  color: whitesmoke;
  border: none;
  border-radius: 6px;
}

/* hero text */
.heroText {
  padding: 0;
  margin-top: -20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroText h2 {
  font-size: 36px;
  text-align: center;
}
.heroText p {
  margin: 10px 10px;
  font-size: 21px;
  align-items: center;
}
.heroText input {
  width: 80%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.779);
  color: whitesmoke;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Feature */
.feture {
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  background-color: black;
}
.feture h2 {
  font-size: 36px;
  margin-top: 10px;
}
.feture p {
  font-size: 20px;
  margin-top: 10px;
}
.feture img {
  width: 22rem;
  margin-top: 3rem;
}
/* startbtn */
.startbtn {
  width: 155px;
  height: 45px;
  background: red;
  font-size: 20px;
  color: whitesmoke;
  border: none;
  border-radius: 6px;
  align-items: center;
}
